#W
$30
gpio_17_oeb
gpio_17_out

#N
adc_vrefL
gpio_16_oeb
gpio_16_out
adc_vrefH
gpio_15_oeb
gpio_15_out
adc_vCM

#S
wb.*

#E
adc_trim
gpio_13_out
gpio_13_oeb
adc_in
gpio_14_out
gpio_14_oeb
